
/*
Facultad de Arquitectura
Colegio de Diseño Grafico
Diseño de Interfaces Graficas de Usuario
18-Nepamuceno Ramirez Martha Patricia
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, nav, main, footer{
    background-color: #023047;
    color: #F2A20C;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
     font-family: "Poppins", sans-serif;
   
        
}
header{
    
    height: auto;
    letter-spacing: 1em;
}
nav{
    background-color: #F2B6CC ;
    text-align: center;
    
    
}

#tabla_0{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-spacing: 10px;
    border: 1px solid black;
}

#tabla_0 th, #tabla_0 td{
    border: 1px solid black;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #053959;
    width: 10%;
    min-width: 110px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin: 5px;
    
    
}

nav ul li a:link, nav ul a:visited {
    text-decoration: none;
    color:  white; 
}
nav ul li:hover{
    background-color: #BF3706;
    color: white;
    
}
section{
    background-color:  #F2A20C;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    color: #053959;
    overflow-x: auto;
    width: 80%;
    text-align: justify;
    
}
h2{
    margin-bottom: 30px;
    
}
h1{
    text-align: center;
    font-size: 48px;
}

footer{
    height: auto;
    background-color: #F2B6CC;
    font-size: 18px;
    text-align: center;
    color: #053959;

}
footer img{
                   width: 50px;
                   margin-left: 20px;
                   margin-right: 20px;
                   filter: drop-shadow(3px 3px 6px black);
            
         }

#tabla_1{
    background-color: aquamarine;
    border: 3px solid brown;
    border-spacing: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

#tabla_1 th{
    
    font-size: 20px;
    background-color: bisque;
    color: brown;
    
}
#tabla_1 th, #tabla_1 td{
    border: 3px solid #023047;
    padding: 10px;
    
}

#tabla_cebra{
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
border-collapse: collapse;
}
#tabla_cebra th{
    background-color: #00a896;
    
}

#tabla_cebra td, #tabla_cebra th{
    padding: 10px;
    border-width: 5px;
    border-color: #219ebc;
    border-style: solid;
}
#tabla_cebra tbody tr:nth-child(even){
    background-color: #8ecae6;
}
#tabla_cebra tbody tr:nth-child(odd){
    background-color: #ffb703;
}

#tabla_hover{
    width: 70%;
    background-color: #023047;
    color: antiquewhite;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
    
    
}
#tabla_hover th{
    background-color: aquamarine;
    color: cadetblue;
    
}
#tabla_hover tr:hover{
    background-color: #ffb703;
    color: #023047;
    
}
#tabla_hover td, #tabla_hover th{
    border-width: 2px;
    border-color: blanchedalmond;
    border-style: solid;
    padding: 20px;
    
    
}


main section{
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
   
    }
    
#imag_gif{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: right;
    
   
    
    
}

p{
    margin-top: 20px;
    
}
.img_flotante{
    width: 30%;
    float: left;
    margin-top: 0;
    margin-right: 20px;
}
.alineacion{
    float: right;
    margin: 0;
}
#fondo_box{
    background-image: url("../imagenes/milky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    
}
.img_filter{
    text-align: center;
}
.img_filter p {
    text-align: justify;
    margin-bottom: 2px;
    
}
.img_filter img{
    width: 20%;
    margin: 20px;
   
    
}

#enlace-img{
    border-radius: 50%;
}

.img-border-redondo{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
  
}




